.header {
	color: #61dafb;
	background-color: #282c34;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header h3 {
	margin: 10px;
	font-size: 40px;
	text-shadow: 2px 3px #171b23;
}

.header ul li a {
	text-decoration: none;
	color: #fff;
}
