.Card-functional {
  width: 330px;
  margin: 30px 20px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 3px 3px 14px rgba(0, 0, 0, 0.3);
  color: #000;
  border-radius: 14px;

  &__titulo {
    @include titulos-principales;
  }

  &__description {
    @include parrafos;
  }

  &--resaltado {
    font-weight: 700;
    text-decoration: underline;
  }

  &__button {
    @include button-primary;
  }

  &__progress {
    margin: 20px 0;
  }

  &__progress-bar {
    width: 25%;
  }
}
