* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MENU STYLES */
.mi-menu {
  width: 100%;
  background-color: gray;
  padding: 20px 30px;
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.3);
  transition: background-color .3s;
}

.mi-menu__nav-contenedor {
  width: 100%;
}

.mi-menu__nav-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.mi-menu__nav-list-item {
  margin: 0 10px;
}

.mi-menu__nav-link {
  color: #000;
  text-decoration: none;
}

/* MODIFICADORES */

.mi-menu--bg-green {
  background-color: green;
}

.mi-menu--color-white {
  color: white;
}