img {
  display: inline-block;
  width: 100%;
}

.padre {
  width: 20%;
}

.backgroundImage {
  color: #fff;
  width: 100%;
  height: 300px;
  background-image: url('./img/mexico.jpg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}

@media screen and (min-width: 700px){
  .backgroundImage {
    background-image: url('./img/header_background.jpg');
  }
}