.mainDiv-Card {
    background-color: aliceblue;
    width: 270px;
    height: 300px;
    border-radius: 20px;
    transition: 0.1s;
    margin: 20px;
}

.Card-title {
    background-color: rgb(213, 235, 255);
    width: 100%;
    height: 20%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.p-title {
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    margin: 0;
    padding-top: 12px;
}

.Card-desc {
    background-color: aqua;
    padding: 10px;
    margin: 5px;
}
/* hovers */

.mainDiv-Card:hover {
    transition: 0.3s;
    transform: scale(1.1);
    border-radius: 30px;
}