* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.box {
  width: 150px;
  height: 80px;
  background-color: cadetblue;
  margin: 10px 20px;
}

.custom {
  /* position: static; ---> Es el posicionamiento por defecto*/
  /* position: relative; ---> Nos permite mover el elemento con las propiedades top | right | bottom | left teniendo como referencia su area*/
  /* position: absolute; --> Nos permite mover el elemento con las propiedades top | right | bottom | left teniendo como referencia su posicion actual en la pagina */
  /* position: fixed; --> Nos permite mover el elemento con las propiedades top | right | bottom | left teniendo como referencia su posicion actual en la pagina a diferencia que este queda fijo en la posicion */
  position: sticky;
  /* z-index: 1000; ---> Me permite controlar las "capas" de mi pagina */
  top: 0;
  background-color: coral;
}
.goUp {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
