.departamentos__kabah{
    text-align: center;
    width: 1050px;
    height: auto;
    position: relative;
    top: -100px;
}

.Departamentos_mostar{
    display: flex;
    justify-content: center;
    position: relative;
    top: -60px;
    margin: 10px;
}