* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 0 20px;
}
.box {
  width: 150px;
  height: 80px;
  background-color: cadetblue;
  margin: 0;
}

.box-one {
  width: 600px;
}

.box-two {
  width: 300px;
  background-color: rgb(160, 160, 141);
  float: left;
}

.box-three {
  width: 200px;
  background-color: blue;
  float: left;
}

.box-four {
  width: 600px;
  clear: both;
}