.navbar {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 5px;
}

.navbar ul li {
	display: inline;
}

.navbar ul li a {
	padding: 5px 20px;
}

.navbar ul li a:hover {
	background-color: #171b23;
}
