* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.app {
  width: 100%;
  height: 100%;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  margin-bottom: 50px;
}

.calculator {
  padding: 30px 20px;
  background-color: aquamarine;
  max-width: 500px;
}

.calculator__display {
  background-color: white;
  padding: 40px 30px;
  text-align: right;
  margin-bottom: 20px;
}

.calculator__numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.calculator__btn {
  padding: 10px 40px;
  margin: 5px;
}

.calculator__btn:hover {
  cursor: pointer;
}

.calculator--delete {
  width: 42%;
}