// Button styles
.button-wrapper {
  width: 100%;
  padding: 30px 20px;
  display: flex;
  justify-content: center;

  &__btn {
    padding: 8px 20px;
    background-color: salmon;
    color: white;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: brown;
    }
  }
}
