// .card {
//   width: 200px;
//   border: 1px solid gray;

//   .card__title-wrapper{
//     background-color: #cecece;

//     .card__title {
//       color: red;
//     }
//   }
// }

.card {
  width: 100%;
  max-width: 300px;
  box-shadow: 3px 5px 12px #a3a3a3;
  border-radius: 14px;
  padding: 25px 35px;
  margin: 10px 20px;

  &__title-wrapper {
    padding: 10px 0;
    border-bottom: 1px solid #a1a1a1;
  }

  &__title {
    color: $font-color;
    font-family: $font-primary;
    font-weight: 800;
  }

  &__body {
    padding: 15px 0;
  }

  &__body-text {
    color: $font-color;
    font-family: $font-primary;
    font-weight: 300;
  }

  &__cta {
    padding: 20px 0;
  }

  &__cta-btn {
    @include button;
  }
}
