* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: 7px 20px;
}

.btn-add-wrapper{
  background-color: #cecece;
  border-bottom: 1px solid #909090;
  padding: 20px 50px;
}

.list-wrapper {
  background-color: #fefefe;
  padding: 20px 70px;
  list-style: none;
}

.list-item {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid #909090;
  padding: 20px 0;
}